/* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* line 23, scss/base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 33, scss/base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 37, scss/base.scss */
body { line-height: 1; }

/* line 39, scss/base.scss */
ol, ul { list-style: none; }

/* line 41, scss/base.scss */
blockquote { quotes: none; }
/* line 43, scss/base.scss */
blockquote:before { content: ''; content: none; }
/* line 47, scss/base.scss */
blockquote:after { content: ''; content: none; }

/* line 53, scss/base.scss */
q { quotes: none; }
/* line 55, scss/base.scss */
q:before { content: ''; content: none; }
/* line 59, scss/base.scss */
q:after { content: ''; content: none; }

/* line 65, scss/base.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 74, scss/base.scss */
body { background: #fff; font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #444; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

/* line 86, scss/base.scss */
h1 { color: #181818; font-family: "Georgia", "Times New Roman", serif; font-weight: normal; font-size: 46px; line-height: 50px; margin-bottom: 14px; }
/* line 95, scss/base.scss */
h1 a { font-weight: inherit; }

/* line 98, scss/base.scss */
h2 { color: #181818; font-family: "Georgia", "Times New Roman", serif; font-weight: normal; font-size: 35px; line-height: 40px; margin-bottom: 10px; }
/* line 107, scss/base.scss */
h2 a { font-weight: inherit; }

/* line 110, scss/base.scss */
h3 { color: #181818; font-family: "Georgia", "Times New Roman", serif; font-weight: normal; font-size: 28px; line-height: 34px; margin-bottom: 8px; }
/* line 119, scss/base.scss */
h3 a { font-weight: inherit; }

/* line 122, scss/base.scss */
h4 { color: #181818; font-family: "Georgia", "Times New Roman", serif; font-weight: normal; font-size: 21px; line-height: 30px; margin-bottom: 4px; }
/* line 131, scss/base.scss */
h4 a { font-weight: inherit; }

/* line 134, scss/base.scss */
h5 { color: #181818; font-family: "Georgia", "Times New Roman", serif; font-weight: normal; font-size: 17px; line-height: 24px; }
/* line 142, scss/base.scss */
h5 a { font-weight: inherit; }

/* line 145, scss/base.scss */
h6 { color: #181818; font-family: "Georgia", "Times New Roman", serif; font-weight: normal; font-size: 14px; line-height: 21px; }
/* line 153, scss/base.scss */
h6 a { font-weight: inherit; }

/* line 156, scss/base.scss */
.subheader { color: #777; }

/* line 158, scss/base.scss */
p { margin: 0 0 20px 0; }
/* line 160, scss/base.scss */
p img { margin: 0; }
/* line 161, scss/base.scss */
p.lead { font-size: 21px; line-height: 27px; color: #777; }

/* line 164, scss/base.scss */
em { font-style: italic; }

/* line 165, scss/base.scss */
strong { font-weight: bold; color: #333; }

/* line 166, scss/base.scss */
small { font-size: 80%; }

/* line 170, scss/base.scss */
blockquote { font-size: 17px; font-style: italic; line-height: 24px; color: #777; margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
/* line 177, scss/base.scss */
blockquote p { font-size: 17px; font-style: italic; line-height: 24px; color: #777; }
/* line 188, scss/base.scss */
blockquote cite { display: block; font-size: 12px; color: #555; }
/* line 192, scss/base.scss */
blockquote cite:before { content: "\2014 \0020"; }
/* line 193, scss/base.scss */
blockquote cite a { color: #555; }
/* line 195, scss/base.scss */
blockquote cite a:visited { color: #555; }

/* line 202, scss/base.scss */
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* line 212, scss/base.scss */
a { color: #333; text-decoration: underline; outline: 0; }
/* line 216, scss/base.scss */
a:visited { color: #333; text-decoration: underline; outline: 0; }
/* line 217, scss/base.scss */
a:hover { color: #000; }
/* line 220, scss/base.scss */
a:focus { color: #000; }

/* line 226, scss/base.scss */
p a, p a:visited { line-height: inherit; }

/* line 231, scss/base.scss */
ul { list-style: none outside; margin-bottom: 20px; }
/* line 234, scss/base.scss */
ul.square { list-style: square outside; margin-left: 30px; }
/* line 238, scss/base.scss */
ul.circle { list-style: circle outside; margin-left: 30px; }
/* line 242, scss/base.scss */
ul.disc { list-style: disc outside; margin-left: 30px; }
/* line 246, scss/base.scss */
ul ul { margin: 4px 0 5px 30px; font-size: 90%; }
/* line 249, scss/base.scss */
ul ul li { margin-bottom: 6px; }
/* line 251, scss/base.scss */
ul ol { margin: 4px 0 5px 30px; font-size: 90%; }
/* line 254, scss/base.scss */
ul ol li { margin-bottom: 6px; }
/* line 256, scss/base.scss */
ul.large li { line-height: 21px; }

/* line 259, scss/base.scss */
ol { list-style: decimal; margin-bottom: 20px; margin-left: 30px; }
/* line 263, scss/base.scss */
ol ol { margin: 4px 0 5px 30px; font-size: 90%; }
/* line 266, scss/base.scss */
ol ol li { margin-bottom: 6px; }
/* line 268, scss/base.scss */
ol ul { margin: 4px 0 5px 30px; font-size: 90%; }
/* line 271, scss/base.scss */
ol ul li { margin-bottom: 6px; }

/* line 275, scss/base.scss */
li { line-height: 18px; margin-bottom: 12px; }
/* line 278, scss/base.scss */
li p { line-height: 21px; }

/* line 283, scss/base.scss */
img.scale-with-grid { max-width: 100%; height: auto; }

/* line 294, scss/base.scss */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { background: #eee; background-image: top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%; /* background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); */ border: 1px solid #aaa; border-top: 1px solid #ccc; border-left: 1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #444; display: inline-block; font-size: 11px; font-weight: bold; text-decoration: none; text-shadow: 0 1px rgba(255, 255, 255, 0.75); cursor: pointer; margin-bottom: 20px; line-height: normal; padding: 8px 10px; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 319, scss/base.scss */
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { color: #222; background: #ddd; background-image: top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%; /* background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); */ border: 1px solid #888; border-top: 1px solid #aaa; border-left: 1px solid #aaa; }

/* line 333, scss/base.scss */
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { border: 1px solid #666; background: #ccc; background-image: top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%; /* background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); */ }

/* line 344, scss/base.scss */
.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width { width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }

/* line 354, scss/base.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 361, scss/base.scss */
form { margin-bottom: 20px; }

/* line 365, scss/base.scss */
fieldset { margin-bottom: 20px; }

/* line 373, scss/base.scss */
input[type="text"], input[type="password"], input[type="email"], textarea, select { border: 1px solid #ccc; padding: 6px 4px; outline: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #777; margin: 0; width: 210px; max-width: 100%; display: block; margin-bottom: 20px; background: #fff; }

/* line 387, scss/base.scss */
select { padding: 0; }

/* line 394, scss/base.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus { border: 1px solid #aaa; color: #444; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); /* box-shadow:  0 0 3px rgba(0,0,0,.2); */ }

/* line 401, scss/base.scss */
textarea { min-height: 60px; }

/* line 406, scss/base.scss */
label, legend { display: block; font-weight: bold; font-size: 13px; }

/* line 414, scss/base.scss */
select { width: 220px; }

/* line 418, scss/base.scss */
input[type="checkbox"] { display: inline; }

/* line 423, scss/base.scss */
label span, legend span { font-weight: normal; font-size: 13px; color: #444; }

/* line 433, scss/base.scss */
.remove-bottom { margin-bottom: 0 !important; }

/* line 434, scss/base.scss */
.half-bottom { margin-bottom: 10px !important; }

/* line 435, scss/base.scss */
.add-bottom { margin-bottom: 20px !important; }
