/* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
*/
/* line 8, scss/layout.scss */
header, article { padding-top: 15px; }

/* line 10, scss/layout.scss */
footer p { font-size: 11px; }

/* line 12, scss/layout.scss */
aside { background-color: #fafafa; }
/* line 14, scss/layout.scss */
aside p { font-size: 12px; font-style: italic; }

/* Media Queries */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
